#first-heading {
    color: red;
    font-size: 50px;
}
.second-heading{
    color: blue;
    font-size: 30px;
}
a {
    color: aquamarine;
}

:root{
    --text-color: green;
}
.box{
    width: 50%;
    height: 100px;
    background-color: red;
}