#first-heading {
    color: var(--text-color);
    font-size: 50px;
}
.second-heading{
    color: blue;
    font-size: 30px;
}
a {
    color: aquamarine;
}

:root{
    --text-color: green;
}

.box{
    width: 60px;
    height: 60px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box1{
    background-color: black;
    margin-left: 20px;
    margin-bottom: 10px;
}
.box2{
    background-color: orange;
}
.box3{
    background-color: red;
    padding: 10px;
    border: 10px solid #333;
    margin-top: 20px;
    box-sizing: border-box;
    background-image: url(https://fullstack.edu.vn/assets/images/f8_avatar.png
    );
    background-size: 100%;
    background-origin: padding-box;
}

h1::first-line{
color: aqua;
}
::selection{
    color: blueviolet;
}


.pc,.tablet,.mobile{
    display: none;
    font-size: 68px;
}

@media (min-width: 1024px){
    .pc{
        display: block;
    }
}

@media (min-width: 740px) and (max-width: 1023px){
    .tablet{
        display: block;
    }
}

@media (max-width: 739px){
    .mobile{
        display: block;
    }
}
