#first-heading {
    color: var(--text-color);
    font-size: 50px;
}
.second-heading{
    color: blue;
    font-size: 30px;
}
a {
    color: aquamarine;
}

:root{
    --text-color: green;
}

.box{
    width: 50%;
    height: 100px;
    background-color: rgb(95, 11, 11);
}

h1::first-line{
color: aqua;
}
::selection{
    color: blueviolet;
}